#redtopbox {

  background: #00aaff;
  height: 200px;
  font-style: normal;
  color: white;
  width: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
nav {
  position: sticky;
  top: 0;
}


.ul__container {
  background-color: #00ccff;
  margin: 0px;


}
li {
  width: 200px;
  padding: 10px;
  display: inline-block;
  background-color: #00ccff;
  font-size: 20px;
  position: relative;
  left: -40px;
  transition: 1s;
}
li:hover {
  background-color: #00aaff;
}

a {
  color: #000000;
  text-decoration: none;
  cursor: grabbing ;
  font-family: arial;

}

p {
  font-size: 25px;
  text-align: justify;
}

img {

  float: left;
  width: 40%;
  margin-top: 30px;
  margin-right: 20px;
}

@media (min-width: 701px) and (max-width: 1024px) {

  li {
    width: 20%;
    padding: 10px;
    display: inline-block;
    background-color: #0044ff;
    font-size: 20px;
    position: relative;

    transition: 1s;
  }

  .ul__container {
    text-align: center;
  }

  img {
    width: 100%;

  }

}
@media (max-width: 700px) {

  li {
    width: 100%;


    background-color: #0044ff;
    font-size: 20px;
    position: relative;

    transition: 1s;
  }

  img {
    width: 100%;
  }

}
