#mainbox {

  background: red;
  height: 300px;
  font-style: normal;
  color: white;
  width: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
div {
  border: 2px steelblue;
  background-color: green;
  width: 120px;
  text-align: center;

}
#individual {
  width: 600px;
}
