#redtopbox {

  background: red;
  height: 200px;
  font-style: normal;
  color: white;
  width: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

div {
  border-radius: 20px;
}

.container {
  background-color: red;
  width: 400px;
  height: 400px;
  margin: auto;
  display: block;
  position:relative;

}

.box {
  background-color: green;
  width: 100px;
  height: 100px;
  padding: 45px;
  box-sizing: border-box;
  border: 5px solid black;

}
#box1 {
  position: absolute;


}
#box2 {
  position: absolute;
  right: 0px;
}

#box3 {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

#box4 {
  position: absolute;
  bottom: 0;
}
